.stat {
  width: 100px;
  text-align: center;
  border-right: 1px solid rgb(221, 221, 221);

  .number {
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
  }
  .label {
    font-size: 12px;
    color: #4a4a4a;
  }
}
