button {
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  background-color: #f8f8f8;
  .iconButton {
    height: 24px;
    width: 24px;
    color: #4a4a4a;
  }
}
.contactBtnGrp {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  .contactText {
    font-weight: 900;
    margin-left: 10px;
  }
}
