.applicantTopbar {
  display: flex;
  flex-direction: row;
  .iconButton {
    margin-left: 20px;
    height: 24px;
    width: 24px;
  }
  div:last-child {
    margin-left: auto;
  }

  .leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  span {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    color: #4a4a4a;
  }
}
