.filtersBar {
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  .searchBox {
    display: inline-flex;
    align-items: center;
    input {
      border: 1px solid rgb(223, 223, 223);
      width: 300px;
      padding: 10px 0 10px 40px;
    }
  }
  .icon {
    position: absolute;
    padding-left: 10px;
    width: 30px;
    height: 30px;
  }
  .bidsFilter,
  .statusFilter {
    display: inline;
    select {
      margin-left: 15px;
      border: 1px solid rgb(223, 223, 223);
      color: rgb(136, 136, 136);
      width: 70px;
      padding: 10px 0 10px 5px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .filtersBar {
    .searchBox {
      display: block;
      margin-bottom: 10px;
    }
    .bidsFilter {
      select {
        margin-left: 0;
      }
    }
  }
}
