.applicantsGroup {
  .groupTitle {
    margin-left: 20px;
  }
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  .timeoutError {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
@media only screen and (max-width: 800px) {
  .applicantsContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    .applicant {
      display: inline-block;
    }
  }
}
