$linkcolour: #fee8d3;

.applicant {
  width: 300px;
  height: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(233, 231, 231);
  margin: 20px 5px 20px 20px;
  .circle {
    height: 70px;
    width: 70px;
    background-color: #fee8d3;
    color: darken($linkcolour, 50%);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    margin: auto;
  }
  .greyNtfy {
    background-color: #9d9d9d;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px 0;
    text-transform: uppercase;
  }
  .orangeNtfy {
    background-color: #feb902;
    color: white;
    display: inline;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px 0;
    text-transform: uppercase;
  }
  span {
    display: block;
    text-align: center;
    margin: 5px 0 5px 0;
    width: 100%;
  }
}
