@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
  font-family: "Roboto";
  overflow-x: hidden;
  background-color: #f8f8f8;
}
